<div class='table-wrapper' tabindex="0">
        <table id='bills' class="display" style="width: 100%;">
            <thead>
                <tr>
                    <th>Select</th>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Feon</th>
                    <th>Austin</th>
                    <th>Simon</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="checkbox" id="record1" name="record1"></td>
                    <td><input type="date" id='row-1-date' name = "row-1-date" value ="2020-12-28" min = "2018-01-01" max = "2023-12-31"></td>
                    <td><select size='1' id='row-1-description' name='row-1-description'>
                        <option value = "Groceries">
                            Groceries
                        </option>
                        <option value="Amazon">
                            Amazon
                        </option>
                        <option value="Asda">
                            Asda
                        </option>
                        <option value="Others">
                            Others
                        </option>
                    </select></td>
                    <td class="numberic">129</td>
                    <td><input type="checkbox" id="feon-row1" name="feon-row1" ></td>
                    <td><input type="checkbox" id="feon-row1" name="feon-row1" ></td>
                    <td><input type="checkbox" id="feon-row1" name="feon-row1" ></td>
                </tr>
            </tbody>
        </table>
    </div>
    <p>{{stuff}}</p>
